
:root{
    --nav-bg-color: #4b44b6;
    --text-color: #bfbfff;
    --hover-color: rgba(174, 174, 224, 0.8);
    --border-radius: 8px;
    --body-color: aliceblue;
    --navbar-size:70px;
    --font-size:20px;
}

.navbar{
    
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-size);
    background: var(--nav-bg-color);
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.customButton{
    height: fill;
    margin: 8px;
    flex: 1 1 100px;
    align-items: center;
    justify-content: space-between;
}
.customButton button{
    background: none;
    border:none;
    height: 100%;
    width: 100%;
    outline: none;
    font-size: var(--font-size);
    color: var(--text-color);
    transition: 90ms;
}

.customButton button:hover{
    border-radius: 8px;
    color: var(--nav-bg-color);
    background-color: var(--hover-color);

}
